#adminLoanTableContainer {
    max-height: 400px; 
    overflow-y: auto; 
    border: 1px solid #ddd; 
    border-radius: 8px;
}

#adminLoanTable {
    width: 100%;
    border-collapse: collapse;
}

#adminLoanTable th, #adminLoanTable td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #10518d;
    color: white;
}

.header {
    text-align: center;
    background-color: #002855;
    color: white;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

.header h1 {
    margin: 0;
}
