body {
    font-family: Arial, sans-serif;
    background-color: #003b73;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: margin-left .5s;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

/* Content inside the modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1001; /* Ensures modal content is above the overlay */
}

button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}

/* Success Message Styling */
.success-message {
    background-color: #fff; /* White container */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;

}

.success-message h1 {
    color: #0a4275;
}

.success-message p {
    color: #333;
}

.success-message button {
    background-color: #4CAF50; 
}

.success-message button:hover {
    background-color: #45a049;
}

/* Show the modal */
.modal-open .modal {
    display: flex;
}

