<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
   
    <div class="success-message">
        <h1>Success!</h1>
        <p>Your personal information has been saved successfully.</p>
        <button onclick="goToRegister()">Go Back</button>
    </div>

    <script>
        function goToRegister() {
            window.location.href = "/dashboard#register"; // Replace with the correct path to your dashboard page
        }
    </script>
</body>
</html>
